.game{
  font-size: 30px !important;
}
*{
  background-color: #05152F;
}
.para{
   font-family: sans-serif;
   word-spacing: 2px;
}
.line{
  width: 100%;
  z-index: 0;
  color: white;
  position: relative;
  top: 35px;
  color:white;
  opacity: 0.3;
}
.image{
 margin: -83% 46% 4%;
 height: 50px;
  background-color: transparent;
}
.gapp{
  gap: 190px;
}
.buttonextra {
  z-index: 1;
  background-color: #05152F !important;
}
.curv{
  width:190px;
  height:60px;  
  border:solid 5px #99f109;
  border-color:#96de22 transparent transparent transparent;
  border-radius:80%/100% 10px 10px 30px;
  top:-235px;
  left:360px;
  position: relative;
  opacity: 0.4;  
  z-index: 0;
 background-color:transparent;
  
}
.stream-content{
    top: -85px;
    left: 245px;
    color:#749d34;
    background-color: white;
    display: flex;
    clip-path: polygon(17% 29%, 79% 28%, 96% 49%, 81% 68%, 17% 69%, 0% 50%);
    align-items: center;
    position:relative;
    width: 300px;
    height: 120px;
  }
   #overlay{
    font-size: 15px;
    margin-left:59px;
    margin-top: 2%;
    color: #83b03a;
    background-color: transparent;
  }
  .great{
    margin-top: -10%;
  }
  .fa-brands{
    padding: 7px;
    background-color: rgb(9, 9, 48);
    border-radius: 50px;
  }
  .livestreaming{
    gap: 205px;
  } 
  .parrotgreen{
    background-color: #7BA435 !important;
  }
  .anytime{
    color: #7BA435;
  }
  .bordergreens{
    border-style: solid;
    border-color: #7BA435 ;
  }